@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* index.html */

:root {
  --skillbox-color: #2f1ce4;
}

.container__return {
  padding-left: 22px;
  background-image: url(../img/return.png);
  background-position: left;
  background-size: 18px;
  background-repeat: no-repeat;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content__header {
  color: white;
  font-family: 'Graphik LCG' ,sans-serif;
  margin-bottom: 30px;
}

.buttons {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.main-content__ref {
	color: white;
	background-color: var(--skillbox-color);
	padding: 20px;
	border: 3px solid var(--skillbox-color);
  margin-right: 15px;
}

.main-content__prog {
	color: white;
	background-color: transparent;
  padding: 20px;
  padding-left: 82px;
  padding-right: 82px;
	border: 3px solid white;
  text-align: center;
}

/* program.html */

.container {
  width: 1170px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__link {
  color: var(--skillbox-color);
  text-decoration: underline;
}

.container__header1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.container__header2 {
  padding-left: 180px;
  margin-top: 100px;
  margin-bottom: 25px;
  font-size: 36px;
  color: var(--skillbox-color);
}

.container__list {
  padding-left: 200px;
  font-size: 18px;
}

.container__list--item1 {
  padding-top: 20px;
}

.container__list--item {
  padding-top: 20px;
  list-style:  none;
}

.container__list--item::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--skillbox-color);
  font-size: 18px;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block;  /*Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  /* padding-right: 5px; */
}

.container__paragraf {
  padding-left: 180px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.8;
}

.container__figure {
  padding-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
}

.container__figure--img {
  max-width: 650px;
}

.container__figure--figcaption {
  text-align: center;
}

.container__table {
  padding-top: 50px;
  margin-top: 100px;
  border: 1px solid #a0a0a0;
  border-collapse: collapse;
}

.container__table--data {
  border: 1px solid #a0a0a0;
  padding: 6px;
  font-size: 18px;
}

.container__table--code {
  font-family: 'Gilroy', sans-serif;
  padding-left: 8px;
}

.container__table--head {
  border: 1px solid #a0a0a0;
  padding: 8px;
}

.container__table--foot {
  border: 1px solid #a0a0a0;
  padding: 8px;
  color: var(--skillbox-color);
}

.container__table--caption {
  padding-bottom: 20px;
}

/* для просмотра секций убрать комментарий */

/*
.container__section1{
  border: #2f1ce4 solid 3px;
  background-color: #b6b6b6d7;
}

.container__section2{
	border: #a3247d solid 3px;
	background-color: #a0aca483;
}

.container__section3{
	border: #3bbe1a solid 3px;
	background-color: #7c7f9e56;
}
*/
