@charset "UTF-16";
.str1 {stroke:red;stroke-width:1.99961;stroke-linecap:round;stroke-linejoin:round}
.str0 {stroke:red;stroke-width:2.36221;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none}
.fil7 {fill:#FEFEFE}
.fil6 {fill:#0087FE}
.fil1 {fill:#CEC484}
.fil3 {fill:red}
.fil2 {fill:#FFFBB2}
.fil5 {fill:#FFFEB5}
.fil4 {fill:#FFFFD4}
