@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?lpnucm');
	src: url('../fonts/icomoon.eot?lpnucm#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?lpnucm') format('truetype'), url('../fonts/icomoon.woff?lpnucm') format('woff'), url('../fonts/icomoon.svg?lpnucm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	/* speak: never; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.icon-left:before {
	content: "\e900";
}

.icon-right:before {
	content: "\e901";
}

.icon-Ident:before {
	content: "\e905";
}

.icon-ring:before {
	content: "\e906";
}

.icon-search:before {
	content: "\e907";
}

.icon-arrow2:before {
	content: "\e908";
}

.icon-arrow1:before {
	content: "\e909";
}

.icon-X:before {
	content: "\e90a";
}

.icon-burger2:before {
	content: "\e90b";
}

.icon-burger:before {
	content: "\e90c";
}

.icon-burger:hover:before {
	content: "\e90b";
}

.icon-fb:before {
	content: "\e902";
}

.icon-vk:before {
	content: "\e903";
}

.icon-insta_btn:before {
	content: "\e904";
}

.icon-plusb:before {
	content: "\e90e";
}

.icon-plusr:before {
	content: "\e90d";
}

.icon-plusr_b:before {
	content: "\e90f";
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.woff') format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	/* bold */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	/* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	/* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/Montserrat-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Thin.woff') format('woff');
	font-display: swap;
	font-weight: 100;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 400;
}

h2 {
	font-size: 48px;
	font-weight: 400;
}

/*свой чекбокс*/

.check {
	padding-left: 2em;
}

.option {
	display: block;
	/* margin-bottom: 1em; */
	margin-left: 1em;
}

.check__input {
	/* <--скрываем дефолтный чекбокс */
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check__box {
	position: absolute;
	margin-top: 0.2em;
	margin-left: -1.5em;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 0 0 0 0.1em gray;
}

/* Checked */

.check__input:checked+.check__box {
	background-color: transparent;
	background-image: url(../img/Check.svg);
}

/* Focused */

.check__input:focus+.check__box {
	box-shadow: 0 0 0 0.1em gray, 0 0 0 0.2em #7ED321;
}

.check__input:hover+.check__box {
	box-shadow: 0 0 0 0.1em gray, 0 0 0 0.2em #7ED321;
}

/* Disabled */

.check__input:disabled+.check__box {
	box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled+.check__box {
	background-color: #9B9B9B;
}

input::placeholder, textarea::placeholder {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

input, textarea {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

textarea {
	resize: none;
}

:root {
	--back: #E5E5E5;
	--font: #333333;
	--font_w: #CACACA;
	--back_form: #414141;
	--Btn: #FF9900;
	--BtnClick: #E1670E;
	--BtnH: #FF9900, 60%;
	--greyl: #ECECEC;
	--greyHover: #666666;
	--greyHover2: #D2D2D2;
	--greyd: #000000, 100%;
}

button:hover {
	cursor: pointer;
}

.btn_border:hover, .btn_border:focus {
	border-color: var(--Btn);
	box-shadow: 0px 0px 1px var(--Btn) inset, 0 0 10px var(--Btn);
	outline: 0 none;
}

.btn_feel:hover, .btn_feel:focus {
	background-color: var(--Btn);
}

.btn_opac:hover, .btn_opac:focus {
	opacity: 68%;
}

.btn_opac:active {
	background-color: var(--BtnClick);
}

.btn_black:hover {
	background-color: var(--greyHover);
	color: white;
}

.btn_black:active {
	background-color: black;
	color: white;
}

.header {
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	/* background-color: darkcyan; */
}

.main {
	background-color: transparent;
}

.footer {
	background-color: #222222;
}

.header__contener {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	display: grid;
	grid-template: minmax(70px, auto) / 1fr auto min-content;
	grid-column-gap: 0px;
	align-items: center;
	grid-auto-flow: row;
	grid-template-areas: "logo1 nav search";
}

.footer__contener {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	color: var(--font_w);
	display: grid;
	grid-template: auto auto auto / 1fr 1fr 1fr;
	grid-template-areas: "logo head clea1" "list form text" "soci form clea2";
	grid-row-gap: 0px;
	grid-column-gap: 23px;
	padding: 48px 75px 80px 75px;
}

.header__logo {
	grid-area: logo1;
	max-width: 50px;
}

.header__logo-img {
	max-height: 50px;
	margin: 0px;
}

.header__nav {
	grid-area: nav;
	flex-direction: row;
	margin-left: auto;
}

.header__nav-menu {
	list-style-type: none;
	font-size: 18px;
	display: flex;
	margin-right: 15px;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.ico_size {
	font-size: 25px;
}

.ico_size2 {
	font-size: 50px;
	color: var(--greyl);
}

.ico_size2:hover {
	color: var(--greyd);
}

.header__search {
	grid-area: search;
	display: flex;
}

.header__search-input {
	margin: 5px;
	display: none;
}

.header__search-btn {
	padding-top: 10px;
	border: none;
	background-color: transparent;
}

.header__search-btn:hover {
	color: var(--Btn);
}

.header__search-btn:active {
	color: var(--BtnClick);
}

.header__burger {
	grid-area: burger;
	border: none;
	background-color: transparent;
}

.header__burger:hover {
	color: var(--Btn);
}

.header__burger:active {
	color: var(--BtnClick);
}

@media (min-width: 1200px) {
	/*1024*/
	.header__burger {
		display: none;
	}
}

.header__nav-item {
	text-decoration: none;
	margin-right: 88px;
	color: var(--font);
}

a {
	text-decoration: none;
	color: black;
	outline: none !important;
}

.a2 {
	text-decoration: none;
	position: relative;
	color: black;
}

.a2:after {
	content: ' ';
	height: 2px;
	width: 0%;
	left: 0%;
	background: var(--Btn);
	position: absolute;
	bottom: -3px;
	transition: width 0.1s;
}

.a2:hover:after {
	width: 100%;
}

.a2:active {
	color: var(--BtnClick);
	border: none;
}

.a3 {
	color: black;
	text-decoration: none;
	list-style: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;	
}

.section3__li:hover .a3 {
	color: var(--Btn);
}

.tabs__btn {
	color: black;
	text-decoration: none;
	position: relative;
	border: none;
	background-color: transparent;
}

.btn__active{
	color: var(--Btn);
}

.tabs__btn:after {
	content: ' ';
	height: 2px;
	width: 0%;
	left: 0%;
	background: var(--Btn);
	position: absolute;
	bottom: -3px;
	transition: width 0.1s;
}

.tabs__btn:hover {
	color: var(--Btn);
}

.tabs__btn:hover:after {
	width: 100%;
}

.header__nav-item:last-child {
	margin-right: 55px;
}

.swiper-container {
	padding-bottom: 65px;
	height: 100%;
	/* background-color: #7ED321;	 */
}

.container__calc {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	height: 620px;
	padding-bottom: 50px;
}

.main__calc-back {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding-left: 78px;
	padding-top: 60px;
	z-index: 9;
}

.main__calc-back-img {
	min-width: 100%;
	min-height: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main__calc-back-img1 {
	background-image: url("../img/chel/chel1.jpg");
}

.main__calc-back-img2 {
	background-image: url("../img/chel/chel2.jpg");
}

.main__calc-back-img3 {
	background-image: url("../img/chel/chel3.jpg");
}

.main__calc-back-img4 {
	background-image: url("../img/chel/chel4.jpg");
}

.main__calc-back-img5 {
	background-image: url("../img/chel/chel5.jpg");
}

.main__calc-back-img6 {
	background-image: url("../img/chel/chel6.jpg");
}

.main__calc_h1 {
	font-size: 70px;
	font-weight: 800;
	color: white;
	width: 70%;
	margin-bottom: 27px;
	letter-spacing: 0.005em;
}

.main__calc_txt {
	font-size: 23.5px;
	font-weight: 700;
	color: white;
	width: 50%;
	margin-bottom: 74px;
}

.main__calc_btn {
	width: 280.52px;
	height: 80px;
	font-size: 23.5px;
	font-weight: 700;
	color: white;
	background-color: var(--Btn);
	border: none;
}


.about__h {
	padding-bottom: 21px;
}

.about {
	grid-area: a_card;
	padding-top: 0px;
	padding-bottom: 15px;
}

.about__text {
	max-width: 70%;
	line-height: 33px;
}

.section1 {
	padding-top: 35px;
	padding-bottom: 15px;
}

.section1__container {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;

}

.section2 {
	padding-top: 31px;
	padding-bottom: 55px;
	/* background-color: aqua; */
}

.section2__container {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
}

.section2__header {
	grid-area: s2_header;
	margin-bottom: 15px;
}

.card-list {
    display: grid;
	grid-gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.card-list {
    position: relative;
}

.card {
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    color: #000;
    background-color: rgb(25, 200, 200);
}

.card__label {
    grid-row: 1/2;
    grid-column: 1/2;
}

.card__text {
    grid-row: 2/3;	
    grid-column: 1/2;
    margin-bottom: 0;
    padding-bottom: 8px;
    color: inherit;
	padding-bottom: 4px;
}

.card__text-h3 {
  margin-bottom: 5px;
}

.card__title::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--card-background);
    transition: transform .3s;
    content: "";
}
.card__title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.card__title {
    padding-bottom: 8px;
    color: inherit;
}

.h--4 {
    font-size: 20px;
	font-weight: 600;
    line-height: 28px;
} 

.card__bottom {
    grid-row: 3/4;
    grid-column: 1/2;
}

.card__bottom {
    font-size: 12px;
    line-height: 13px;
}

.card__pic-wrapper{
    grid-row: 1/4;
	grid-column: 2/3;
    align-self: center;
}

.card__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__wrapper {
    display: grid;
    grid-gap: 8px;
    /* grid-template-rows: -webkit-min-content 1fr -webkit-min-content; */
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
}
.card__wrapper {
    grid-column-gap: 16px;
    grid-template-columns: 2fr 1fr;
    min-height: 170px;
}
.card__wrapper {
    grid-row-gap: 16px;
    padding: 24px;
	/* height: 120px; эта штукв раздвигает пик по высоте, странно*/
}

.tab--deactivate {
  display: none;
}


.section3 {
	padding-top: 45px;
	padding-bottom: 100px;
	/* background-color: blueviolet; */
}

.section3__container {
	max-width: 1400px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	letter-spacing: -0.008em;
}

.section3__header {
	 border-bottom: 1px solid var(--font_w); 
	padding-top: 5px;
	padding-bottom: 15px;
}

.section3__ul {
	list-style: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
}

.section3__li {
	padding: 30px 0px 29px 5px;
	border-bottom: 1px solid var(--font_w);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.section3__li:hover .section3__li-btn {
	background-color: var(--greyHover2);
}

.section3__li--header {
margin-right: auto;
}

.section3__li-btn {
	min-width: 50px;
	height: 50px;
	border: none;
	border-radius: 100%;
	margin-left: 80px;
	background-color: #ECECEC;
	background-position: center;
	background-image: url("../img/plusb.svg");
	transition: all 0.5s ease-out;
}

.section3__li-btn--rotate {
	transform: rotate(45deg);
}	

.section3__itemtext{
	font-weight: 400;
	font-size: 16px;
	/* line-height: 31px; */
}

.footer__logo {
	grid-area: logo;
}

.footer__ul {
	grid-area: list;
	padding-top: 10px;
}

.footer__ul ul {
	line-height: 36px;
	list-style: none;
	font-size: 18px;
	font-weight: 600;
}

.footer__li {
	text-decoration: none;
	color: white;
}

.footer__soc {
	grid-area: soci;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.footer__soc-ico {
	font-size: 60px;
	color: gray;
	text-decoration: none;
}

.footer__soc li {
	margin-left: 25px;
}

.footer__soc li:first-child {
	margin-left: 0px;
}

.footer__h2 {
	grid-area: head;
	padding-top: 10px;
}

.footer__form {
	grid-area: form;
	display: flex;
	flex-direction: column;
}

.footer__form-name {
	height: 60px;
	padding: 14px 25px;
	margin-top: 17px;
	background: var(--back_form);
	border: none;
}

.footer__form-email {
	height: 60px;
	margin-top: 25px;
	padding: 14px 25px;
	background: var(--back_form);
	border: none;
}

.footer__form-mess {
	height: 150px;
	margin-top: 25px;
	padding: 14px 25px;
	background: var(--back_form);
	border: none;
}

.footer__btn-panel {
	grid-area: butn;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 31px;
}

.footer__btn {
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: 1px solid var(--Btn);
	background-color: var(--Btn);
	padding: 20px 55px;
}

.footer_check {
	font-size: 16px;
	font-weight: 400;
	color: green;
}

.footer__text {
	grid-area: text;
	line-height: 32px;
	padding-top: 5px;
	padding-left: 38%;
}

.clea1 {
	grid-area: clea1;
}

.clea2 {
	grid-area: clea2;
}

@media (max-width: 1366px) {
	.header__logo {
		grid-area: logo1;
		display: flex;
	}
	
	.swiper-container {
		padding-bottom: 45px;
	}

	.section1 {
		padding-top: 17px;
		padding-bottom: 0px;
	}

	.footer__contener {
		color: var(--font_w);
		background-color: #222222;
		display: grid;
		grid-template: auto auto auto/ 1.2fr 1.8fr;
		grid-template-areas: "logo head" "list form" "soci form";
		grid-row-gap: 0px;
		grid-column-gap: 30px;
		padding: 46px 55px 80px 55px;
	}
	.footer__soc {
		align-items: flex-end;
	}
	.footer__text {
		display: none;
	}
	.clea1 {
		display: none;
	}
	.clea2 {
		display: none;
	}
	.footer__btn {
		font-size: 16px;
		font-weight: 700;
		color: white;
		border: 1px solid var(--Btn);
		background-color: var(--Btn);
		padding: 20px 43px;
	}
	.check {
		letter-spacing: -0.0056em;
	}
}

@media (max-width: 1200px) {
	/*1024*/
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.container__calc {
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 50px;
		height: 668px;		
	}
	.header__contener {
		justify-content: stretch;
		display: grid;
		grid-template: min-content / min-content 1fr auto 1fr min-content;
		grid-column-gap: 0px;
		grid-auto-flow: row;
		grid-template-areas: "burger none logo1 none2 search";
		align-content: center;
		justify-items: center;
		height: 96px;
	}
	.header__logo {
		grid-area: logo1;
	}

	.header__logo-img {
        max-height: 50px;
		margin: 0px;
	}
	
	.header__nav {
		display: none;
	}
	.header__space {
		display: none;
	}
	.header__burger {
		display: block;
	}
	.main__calc_h1 {
		font-size: 60px;
		width: 90%;
		margin-bottom: 12px;
	}
	.main__calc_txt {
		font-size: 20px;
		font-weight: 700;
		color: white;
		width: 75%;
		margin-bottom: 116px;
	}
	.main__calc_btn {
		width: 280.52px;
		height: 80px;
		font-size: 23.5px;
		font-weight: 700;
		color: white;
		background-color: var(--Btn);
		border: none;
	}

	.main__calc-back {
		padding-left: 45px;
		padding-top: 122px;
	}

	.about__h {
		padding-bottom: 24px;
	}

	.about__text {
		max-width: 100%;
		line-height: 32px;
	}


	.section1 {
		padding-top: 17px;
		padding-bottom: 15px;
	}	
	
	
	.section2 {
		padding-top: 24px;
		padding-bottom: 30px;
	}	
	.section2__container {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.section3__container {
		padding-left: 50px;
		padding-right: 50px;
	}		

	.section3 {
		padding-top: 16px;
		padding-bottom: 48px;
	}

	.section3__li-btn {
		margin-left: 105px;
	}
	.section3__ul {
		list-style: none;
		font-weight: 700;
		font-size: 20px;
	}
	.section3__li {
		padding: 30px 0px 31px 2px;
	}
}

@media (max-width: 992px) {
	/*768*/
	.header__contener {
		height: 70px;
	}

	.swiper-container {
		padding-bottom: 40px;
	}

	.container__calc {
		padding-left: 0px;
		padding-right: 0px;
		height: 700px;		
	}

	.main__calc-back {
		padding-left: 45px;
		padding-bottom: 30px;
	}
	.main__calc_h1 {
		font-size: 60px;
		margin-bottom: 20px;
		width: 90%;
	}
	.main__calc_txt {
		font-size: 20px;
		font-weight: 700;
		color: white;
		width: 90%;
		margin-bottom: 86px;
	}
	.main__calc_btn {
		width: 280.52px;
		height: 80px;
		font-size: 23.5px;
		font-weight: 700;
		color: white;
		background-color: var(--Btn);
		border: none;
	}

	.section1 {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	
	.section2 {
	    padding-top: 22px;
		padding-bottom: 40px;
	}	

	.section2__header {
		grid-area: s2_header;
		letter-spacing: -0.0056em;
	}

	.card-list {
		display: grid;
		grid-gap: 15px;
		grid-template-columns: repeat(1,1fr);
	}

	.section3 {
		padding-top: 13px;
		padding-bottom: 54px;
	}
	.section3__header {
		padding-top: 10px;
		padding-bottom: 40px;
		letter-spacing: -0.03em;
	}
	.section3__li {
		padding: 30px 0px 32px 2px;
	}
	.section3__li-btn {
		margin-left: 40px;
	}
	.section3__ul {
		list-style: none;
		font-weight: 700;
		font-size: 20px;
	}
	.footer__contener {
		color: var(--font_w);
		background-color: #222222;
		display: grid;
		grid-template: auto auto auto auto/ 1fr;
		grid-template-areas: "head" "form" "logo" "soci";
		grid-row-gap: 0px;
		grid-column-gap: 30px;
		padding: 55px 23% 80px 50px;
	}
	.footer__ul {
		display: none;
	}
	.footer__text {
		display: none;
	}
	.footer__form-name {
		margin-top: 22px;
	}
	.clea1 {
		display: none;
	}
	.clea2 {
		display: none;
	}
	.footer__logo {
		margin-top: 60px;
		margin-bottom: 10px;
		align-self: center;
	}
	.footer__btn {
		font-size: 16px;
		font-weight: 700;
		color: white;
		border: 1px solid var(--Btn);
		background-color: var(--Btn);
		padding: 20px 34px;
	}

	@media (max-width: 576px) {
		/*320*/
		h2 {
			font-size: 24px;
		}
		
		.swiper-container {
			padding-bottom: 20px;
		}

		.header__contener {
			max-width: none;
			height: 43px;
			padding-left: 15px;
			padding-right: 15px;
			margin: 0px auto;
			grid-template: 65px / auto 1fr auto;
			grid-template-areas: "logo1 none burger";
		}	

		.header__search {
			display: none;
		}		

		.header__logo-img {
			width: 50px;
			margin: 0px 0px 0px 0px; 
		}
		
		.header__logo {
			grid-area: logo1;
			display: flex;
			width: 30px;
		}

		.ico_size {
			font-size: 20px;
		}

		.container__calc {
			max-width: none;
			padding-left: 15px;
			padding-right: 15px;
			margin: 0px auto;
			height: 265px;			
		}

		.main__calc-back {
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 0px;
			padding-bottom: 0px;
			justify-content: start;
		}			
		.main__calc_h1 {
			font-size: 20px;
			font-weight: 800;
			color: white;
			width: 100%;
			margin-bottom: 13px;
			letter-spacing: 0.005em;
			text-align: center;
		}
		.main__calc_txt {
			font-size: 12px;
			font-weight: 500;
			padding: 0px 10px;
			width: 100%;
			margin-bottom: 34px;
			text-align: center;
			line-height: 1.23em;
		}
		.main__calc_btn {
			width: 162px;
			height: 40px;
			font-size: 12px;
			font-weight: 700;
			margin: 0px auto;
		}

		.section1__container {
			max-width: none;
			padding-left: 15px;
			padding-right: 15px;
			margin: 0px auto;
		}

		.about__h {
			padding-bottom: 2px;
			font-size: 24px;
		}
		
		.about {
			grid-area: a_card;
			padding-top: 0px;
		}
		
		.about__text {
			max-width: 100%;
			font-size: 14px;
			line-height: 28px;
		}
		
		.section1 {
			padding-top: 20px;
			padding-bottom: 6px;
		}
		
		.section2 {
			padding-top: 31px;
			padding-bottom: 10px;

		}

		.section2__header {
			grid-area: s2_header;
			margin-bottom: 10px;
			font-size: 24px;
		}

		.card__wrapper {
			grid-template-rows: min-content 1fr auto min-content;
			grid-template-columns: 1fr;

		}

		.card__pic-wrapper{
			grid-row: 1/4;
			grid-column: 1/-1;
			align-self: center;
		}

		.card-list {
			display: grid;
			grid-gap: 15px;
			grid-template-columns: repeat(1,1fr);
		}
		
		.card__text {
			grid-row: 4/5;	
			grid-column: 1/-1;
			margin-bottom: 0;
			padding-bottom: 8px;
			color: inherit;
			padding-bottom: 4px;
		}
		
		.card__bottom {
			grid-row: 6/7;
			grid-column: 1/-1;
		}


		.section3 {
			padding-top: 25px;
			padding-bottom: 45px;
			/* background-color: blueviolet; */
		}

		.section3__container {
			max-width: none;
			padding-left: 15px;
			padding-right: 15px;
			margin: 0px auto;
			letter-spacing: -0.008em;
		}

		.section3__header {
			border-bottom: 1px solid var(--font_w);
			padding-top: 5px;
			padding-bottom: 17px;
		}

		.section3__ul {
			list-style: none;
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
		}	

		.section3__li {
			padding: 30px 0px 29px 0px;
		}

		.accordion__item {
			margin: 5px auto;
		}
		.accordion__item .accordion__title {
			position: relative;
			padding: 13px 60px 15px 13px;
			margin-bottom: 2px;
			color: #202020;
			font-size: 28px;
			text-decoration: none;
			background-color: #eaeaea;
			border-radius: 3px;
			-webkit-transition: background-color 0.2s;
			transition: background-color 0.2s;
			cursor: pointer;
			padding: 30px 0px 29px 5px;
			border-bottom: 1px solid var(--font_w);
			display: flex;
			justify-content: space-between;
			align-items: center;			
		}
		.accordion__item .accordion__title:hover {
			background-color: #e5e4e4;
			transition: all 0.5s ease-out;
		}
		.accordion__item .accordion-active {
			background-color: #e5e4e4;
		}
		.accordion__item .accordion__title .accordion__arrow {
			position: absolute;
			top: 13px; right: 10px;
			vertical-align: middle;
			width: 30px;
			height: 30px;
			text-align: center;
			color: #fff;
			line-height: 30px;
			font-size: 20px;
			font-weight: 700;
			margin-right: 5px;
			background-color: #c9c9c9;
			border-radius: 50%;
			-webkit-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}
		.accordion__item .accordion__rotate {
			transform: rotate(225deg);
		}
		.accordion__item .accordion__content {
			padding: 30px;
			margin-bottom: 2px;
			font-size: 14px;
			display: none;
			background-color: #f3f3f3;
		}
		.accordion__item .accordion__arrow-item {
			font-weight: 700;
		}
		/*-------------------------------------*/

		.footer__contener {
			max-width: none;
			margin: 0px auto;
			color: var(--font_w);
			background-color: #222222;
			display: grid;
			grid-template: auto auto auto auto/ 1fr;
			grid-template-areas: "head" "form" "logo" "soci";
			grid-row-gap: 0px;
			grid-column-gap: 0px;
			padding: 28px 15px 80px 15px;	
		}

		.footer__btn-panel {
			grid-area: butn;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 31px;
		}

		.section3__li-btn {
			min-width: 30px;
			height: 30px;
			border: none;
			margin-left: 20px;
			background-size: 93%;
			outline: none !important;
		}
		
		.footer__btn {
			font-size: 12px;
			font-weight: 700;
			color: white;
			border: 1px solid var(--Btn);
			background-color: var(--Btn);
			padding: 12px 30px;
		}



		.footer__soc {
			grid-area: soci;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			list-style-type: none;
		}

        .footer__form {
			border-bottom: 1px solid #595959;;
		}
		
		.footer__form-name {
			width: 100%;
			word-wrap: break-word;
		}
		
		.footer__form-email {
			width: 100%;
		}
		
		.footer__form-mess {
			width: 100%;
		}

		.footer__logo {
			margin: 25px 0px 18px 0px;
		    display: flex;
			justify-content:  center;
		}		

		.footer__logo--img {
			width: 45%;
		}

		.footer__soc-ico {
			font-size: 31px;
		}	

		.check {
			padding: 15px 0px 30px 0px;
		}
		

		.check__box {
			position: absolute;
			margin-top: 0.2em;
			margin-left: -1.0em;
			width: 11px;
			height: 11px;
			overflow: hidden;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			box-shadow: 0 0 0 0.1em gray;
		}

		.footer__soc li {
			margin-left: 17px;
		}	

	}	
}