@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		 url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		 url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		 url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		 url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
	background-color: #222020;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	color: white;
	font-family: "Graphik LCG", sans-serif;
	margin-bottom: 30px;
}

.download {
	color: white;
	padding: 20px;
	background-color: #2f1ce4;
	border: 3px solid #2f1ce4;
	display: inline-block;
}

.details {
	color: white;
	padding: 20px;
	opacity: 1;
	border: 3px solid white;
	display: inline-block;
}

.container {
	width: 1170px;
    margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.arrow {
	padding-left: 30px;
	background-image: url("../img/return.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.title-second-sheet {
	margin-top: 100px;
	padding-left: 100px;
	font-size: 48px;
	color: #222020;
}

.general-title {
	padding-left: 180px;
	font-size: 36px;
	color: #2f1ce4;
	margin-top: 100px;
	margin-bottom: 25px;
}

.list {
	padding-left: 200px;
	font-size: 18px;
	list-style: none;
	line-height: 2.5rem;
}

.paragraph {
	padding-left: 180px;
	margin-bottom: 20px;
}

.figure {
	padding-left: 200px;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.figcaption {
	max-width: 400px;
}

.paragraph-jpeg {
	text-align: center;
	margin-bottom: 50px;
}

.table {
	border: 1px solid #a0a0a0;
	padding: 10px;
	border-collapse: collapse;
	margin-top: 100px;
}

.row {
	border: 1px solid #a0a0a0;
	border-collapse: collapse;
	padding: 10px;
}

.link-table {
	text-decoration: underline;
	color: blue;
}

ul li::before {
	content: "\2022";  /* юникод точки */
	color: #2f1ce4; /* Менять цвет */
	font-weight: bold; /* Менять жирность */
	display: inline-block; /* Расстояние между точкой и текстом */
	width: 1em; /* Задать значение расстояния */
}

.text {
	color: #2f1ce4;
	text-align: center;
}
