@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Muller Light';
	src: url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Muller";
	font-size: 16px;
	font-weight: normal;
}

input,  button, textarea {  /*  специально для кнопок и полей ввода */
	font-family: "Muller";
	font-size: 16px;
	font-weight: normal;	
}

a {
	color: inherit;
	text-decoration: none;
}

/* index.html */

:root {
	--lagoona-color: #cc9933;
	--lagoona-footer: #222020;
	--lagoona-back: #f1f1f1;
	--lagoona-gray: #999999;
	--brownish-grey: #666666;
	--warm-grey-two: #969696;
  	--pale-gold: #ffcc66;
	--pinkish-grey-two: #cccccc;
	--white-three: #ffffff;
}


/* 
 волна под ссылкой.
a:hover {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 10%;
	border-bottom: 0;
	padding-bottom: .3em;
	text-decoration: none;
	color: var(--lagoona-color);
  } */


.a2 {   
    text-decoration:none;  
    position:relative;
}
.a2:after {  
    content: ' ';  
    height:1px; 
    width:0;  
    left:0;  
    background: var(--lagoona-color);  
    position:absolute;  
    bottom:-1px;  
    transition:width 0.2s ;
}
.a2:hover:after {  
    width:100%;
}

.a_bzz {
	display:inline-block; 
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0)
  }
   .a_bzz:hover, .a_bzz:focus, .a_bzz:active {
	-webkit-animation-name:buzz-out;
	animation-name:buzz-out;
	-webkit-animation-duration:0.81s;
	animation-duration:0.81s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1
  }

  @keyframes buzz-out {
	9% {
	-webkit-transform:translateX(5px) rotate(3deg);
	transform:translateX(5px) rotate(3deg)
	}
	19% {
	-webkit-transform:translateX(-3px) rotate(-2deg);
	transform:translateX(-3px) rotate(-3deg)
	}
	29% {
	-webkit-transform:translateX(3px) rotate(2deg);
	transform:translateX(3px) rotate(2deg)
	}
	40% {
	-webkit-transform:translateX(-3px) rotate(-2deg);
	transform:translateX(-3px) rotate(-2deg)
	}
	50% {
	-webkit-transform:translateX(2px) rotate(1deg);
	transform:translateX(2px) rotate(1deg)
	}
	58% {
	-webkit-transform:translateX(-2px) rotate(-1deg);
	transform:translateX(-2px) rotate(-1deg)
	}
	67% {
	-webkit-transform:translateX(2px) rotate(1deg);
	transform:translateX(2px) rotate(1deg)
	}
	79% {
	-webkit-transform:translateX(-2px) rotate(-1deg);
	transform:translateX(-2px) rotate(-1deg)
	}
	89% {
	-webkit-transform:translateX(1px) rotate(0);
	transform:translateX(1px) rotate(0)
	}
	99% {
	-webkit-transform:translateX(-1px) rotate(0);
	transform:translateX(-1px) rotate(0)
	}
  }	

.btn_border{
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.btn_border:hover, .btn_border:focus {
	border-color: var(--lagoona-color);
	box-shadow: 0px 0px 1px var(--lagoona-color) inset, 0 0 10px var(--lagoona-color);
	outline: 0 none;
 }

.btn_trans{
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);	
}

.btn_trans:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
  }
  
  .btn_trans:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
  }
  .btn_trans:hover:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
  }


.lagoona-col {
	color: var(--lagoona-color);
}

.lagoona-col-gray {
	color: var(--lagoona-gray);
}

/* .header {} */

.wraper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--lagoona-back);
}

.content {
	flex: 1 1 auto;
}

.contener {
	max-width: 1168px;
	margin: 0px auto 47px;
}

.top__bar {
	display: flex;
	min-height: 114px;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.common_border {
	background-color: var(--white-three);
	border-radius: 12px;
}

/* les7 не используется
.common_flex {
	display: flex;
	flex-direction: row;
} */

.top_logodiv {
	/* padding-top: 30px;
	padding-bottom: 30px; */
	width: 260px;
}

.top__logo {}

.top__logo-img {}

.top__tel {
	flex: 0 0 auto;
	padding-left: 27px;
	color: var(--brownish-grey);
	/* font-family: "Muller Bold"; les7 */
	font-weight: bold;
	font-size: 22px;
}

.top__myroom {
	padding-right: 10px;
	margin-left: auto;
}

.top__myroom:before {
	content: "\f35a";
	/* добавляем иконку стрелка в кружке вправо */
	font-family: FontAwesome;
	margin-right: 3px;
}

.top__nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 70px;
	padding-left: 22px;
	padding-right: 25px;
	align-items: center;
	margin-bottom: 70px;
}

.top__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* flex: 1 1 auto;  les7 */
}

.top__item {
	list-style: none;
	padding-right: 47px;
}

.top__search {
	border-radius: 15px;
	height: 48px;
	width: 355px;
	background-color: var(--lagoona-back);
	border-style: none;
	padding-left: 21px;
	color: var(--lagoona-gray);
	/*font-family: "Muller";
	 font-size: 14px;
	font-weight: 400;  les7 */
	font-size: 14px;
	line-height: 32px;
	/* background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position-x: 95%; */
}

.top__form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: auto;
	/* justify-content: flex-end; les7 */
}

.top__search_btn {
	border-style: none;
	background-color: transparent;
	margin-left: -50px;
	width: 50px;
}

/*  les7 не используется
.booking {
	padding-bottom: 40px;
} */

.booking__flexbox {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	/* margin: 0px -27px; les7 */
}

.booking__col {
	flex: 0 1 50%;
	margin-bottom: 24px;
	padding-right: 55px;
}

/* .booking__col:nth-child(2) {
	padding-right: 0px;
} 

либо

*/

.booking__flexbox > :last-child {
	padding-right: 0px;
}	

.booking__quick {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

.booking__form {
	display: flex;
	flex-direction: column;
}

.booking__input {
	flex: 1 1 100%;
	min-height: 70px;
	border-style: none;
	margin: 0px 0px 24px 0px;
	padding-left: 21px;
	color: var(--lagoona-gray);
	/* font-family: "Muller";
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;  les7 */
}

.booking__btn_row {
	flex: 1 1 100%;
	max-height: 70px;
	border-style: none;
	margin: 0px 0px 0px 0px;
	display: flex;
	align-items: center;
}

.find-room {
	display: inline-block;
	width: 159px;
	height: 70px;
	border-radius: 12px;
	background-color: var(--lagoona-color);
	border: 1px solid var(--lagoona-color);
	color: var(--white-three);
	/* font-family: "Muller Bold";
	font-size: 16px;
	font-weight: 400;  les7*/
	/*
	   в девтул показывает размер шрифта 16, 
	   но если указать font-size: 16px; то 
	   внешний вид шривта меняется les7
	*/
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	/* justify-content: center; les7*/
}

 .find-room::before { /*не ясно как этим элементом делать выравнивание les7*/
	content: '';
	width: calc((100% - 105px)/2);
 }

.booking__room_cnt {
	padding-left: 30px;
	/* font-family: "Muller";
	font-size: 16px;  les7*/
	color: var(--lagoona-color);
}

.booking__room_txt {
	padding: 4px;
	color: #a0a0a0;
}

.booking__h2 {}

.h2 {
	color: #333333;
	/* font-family: "Muller"; les7 */
	font-size: 40px;
	/* font-weight: normal;  les7*/
	line-height: 32px;
	margin-left: 44px;
	margin-bottom: 20px;
}

.booking__spec {
	display: flex;
	flex-direction: column;
}

.booking__layer-img {
	flex: 1 1 100%;
	background-image: url("../img/22.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; les7*/
	padding: 0px 0px 25px 27px;
}

.booking__layer {
	margin-top: auto;  /*прижали к полу les7*/
	padding-right: 25%;
}

.booking__layer-text {
	flex: 1 1 100%;
	color: var(--white-three);
	/* font-family: "Muller Bold";  les7  на вид другой шрифт*/
	font-weight: bold;
	font-size: 66px;
	font-weight: 400;
	line-height: 58px;
	padding-bottom: 38px;
}

/*  les7 не используется
.booking__layer_flex {
	display: flex;
	align-content: center;
	padding-top: 5%;
} */

.booking__layer-price {
	opacity: 0.49;
	color: var(--white-three);
	/* font-family: "Muller"; les7 */
	font-size: 35px;
	font-weight: 400;
	line-height: 35px;
}

.booking__layer-detail {
	color: var(--pale-gold);
	line-height: 32px;
	padding-left: 10%;
	padding-right: 20px;
	background-image: url("../img/Pi2Last.png");
	background-repeat: no-repeat;
	background-position: right;
}

/*   les7 не используется
.booking__layer-detail-pic {
	padding: 8px 3px 10px 3px;
} */

.about {}

.about_h2 {}

.about_text {
	color: var(--brownish-grey);
	line-height: 32px;
	width: 70%;
	margin-left: 43px;
	padding-bottom: 7px;
}

/*  les7 не используется
.services {
	padding-bottom: 60px;
} */

.services_h2 {}

.services__flexbox {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	/* margin: 0px -20px; 7les*/
}

.services__col {
	flex: 0 1 50%;
	margin-bottom: 24px;
	/* padding: 0px 14px; les7 */
	padding-right: 25px;
}

.services__col:nth-child(2n){
	padding-right: 0px;	
}


.services__item {
	display: flex;
	flex-direction: column;
}

.services__pic {}

.services__body {}

.services__title {
	padding: 26px 0px 0px 45px;
	color: var(--lagoona-color);
	/* font-family: "Muller Medium"; les7 */
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	display: flex;
	flex-wrap: wrap;
}

.services__title::after {
	content: "\f105";
	/* добавляем иконку галочка вправо */
	font-family: FontAwesome;
	margin-left: 6px;
	font-size: 25px;
	line-height: 32px;
}

.services__text {
	width: 77%;
	padding: 5px 0px 30px 45px;
	color: #333333;
	line-height: 31px;
	font-weight: normal;
}

.common_img {
	width: 100%;
}

/*   les7 не используется
.advantages {
	padding-bottom: 60px;
} */

.advantages_h2 {}

.advantages__flex {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	/* margin: 0px -22px; les7*/
	list-style-type: none;
}

.advantages__col {
	flex: 0 1 25%;
	margin-bottom: 24px;
	padding-right: 24px;
}

/* У каждой четвертой убрали правый паддинг les7 */
.advantages__col:nth-child(4n) {
	padding-right: 0px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	height: 100%;
	line-height: 32px;
}

.advantages__pic {
	height: 115px;
	padding: 41px 0px 15px 44px;
}

.advantages__img {
	height: 100%;
}

.advantages__text {
	padding: 0px 47px 31px 44px;
}

/*  les7 не используется
.accommodation {
	padding-bottom: 37px;
} */

.accommodation_h2 {}

.accommodation__flex {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	/* margin: 0px -11px;  les7*/
	list-style-type: none;
}

.accommodation__col {
	flex: 0 1 33%;
	margin-bottom: 25px;
	padding-right: 22px;
}

.accommodation__col:nth-child(3n) {
	padding-right: 0px;
}

.accommodation__item {
	height: 100%;
	width: 100%;
}

.accommodation__pic {
	margin-bottom: 30px;
}

/*  les7 не используется
.accommodation__pic-last {
	margin-bottom: 0px;
} */

.accommodation__item-last {
	height: 100%;
	background-image: url("../img/41.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

.accommodation__item-last-textbox {
	padding: 10px 20px 10px 10px;
	margin: 0px 0px 50px 30px;
	color: var(--white-three);
	display: flex;
	font-size: 22px;
	font-weight: 500;
}

/* расстягиваем ссылку на всего родителя les7 */
.accommodation__item-last-textbox::before{
	content: ""; 
	position: absolute; 
	top: 0; 
	right: 0;
	width: 100%;
	height: 100%;
}

/* добавляем иконку галочка вправо */
.accommodation__item-last-textbox::after {
	content: "\f105";
	font-family: FontAwesome;
	margin-left: 6px;
	font-size: 22px;
	font-weight: normal;
}

/* не используется les7
.accommodation__item-last-img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.accommodation__item-last-text {
	color: var(--white-three);
	font-family: "Muller Medium"; 
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}
*/

/*  les7 не используется
.accommodation__item-last-sign {
	margin: auto;
	padding-left: 10px;
} */

.accommodation__img {
	width: 100%;
}

/*   les7 не используется
.accommodation__img-last {
	width: 100%;
	height: 100%;
} */

.accommodation__body {}

.accommodation__price {
	padding-left: 10%;
	padding-bottom: 10px;
}

.suf {
	display: inline-block;
	color: var(--warm-grey-two);
}

.price {
	display: inline-block;
	/* font-family: "Muller Bold";  les7 */
	font-size: 22px;
	font-weight: 900;
}

.day {
	font-weight: bold;
	display: inline-block;
	color: #000000;
}

.rating {
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.hotel_name {
	padding-left: 10%;
	padding-bottom: 17px;
	font-weight: 700;
}

.location {
	padding: 0px 0px 6% 10%;
	color: var(--lagoona-gray);
}

.accommodation__btn {
	padding: 0px 0px 10% 10%;
}

.room {
	width: 100px;
	height: 41px;
	border-radius: 12px;
	border: 1px solid var(--lagoona-color);
	;
	color: var(--lagoona-color);
	/* font-family: "Muller Bold";
	font-size: 16px; */
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}

.contacts {
}

.contacts_h2 {}

.contact__h_send {
	padding: 65px 0px 22px 0px;
}

.contacts__flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 16px;
}

.contacts__col {
	width: 40%;
	min-width: 350px;
	padding: 30px 44px 0px 44px;
}

.contacts__col2 {
	width: 40%;
	min-width: 300px;
	background-color: var(--lagoona-back);
}

.contacts__item {
	padding: 0px 0px 22px 0px;
}

/*  les7 не используется 
.contacts__item2 {
	padding: 0px 56px 0px 44px;
} */

.contacts__item-flex {
	display: flex;
	flex-direction: column;
}

.contacts__row {
	display: flex;
	flex-direction: row;
	padding-top: 4px;
	padding-bottom: 24px;
	line-height: 1.5;
}

.contacts__row-head {
	flex: 0 0 146px;
	color: var(--brownish-grey);
	/* font-family: "Muller Bold"; les7 */
	font-weight: bold;
	font-size: 22px;
	line-height: 0.8;
}

.contacts__row-text {
	line-height: 1.5;
}

.CallMy {
	width: 30%;
	margin: 0px auto;
}

.contacts__line {
	height: 1px;
	background-color: var(--pinkish-grey-two);
	padding: 1px 10%;
}

.contacts__tel{
  line-height: 23px;
}

/* les7 не используется 
.contacts__email_text{
	line-height: 24px;	
} */

.contacts__btn {
	padding: 21px 0px 44px 0px;
}

.contacts__input {
	width: 100%;
	height: 70px;
	border-radius: 12px;
	background-color: var(--white-three);
	border-style: none;
	color: var(--lagoona-gray);
	/* font-family: "Muller";
	font-size: 16px;
	font-weight: 400;  les7 */
	padding-left: 20px;
	margin-bottom: 23px;
}

.contacts__input_h {
	height: 110px;
	padding-top: 16px;
}

.root {
	width: 214px;
	height: 70px;
	border-radius: 12px;
	color: var(--lagoona-color);
	border: 1px solid var(--lagoona-color);
	text-align: center;
	display: flex;
	align-items: center;
	/* justify-content: center; */  /*les7*/
}

.root::before { /* выравнивание... les7*/
	content: '';
	width: calc((100% - 170px)/2);   
	/* background-color: var(--warm-grey-two); */
  }

.contacts_send_btn {
	width: 100%;
	height: 70px;
	border-radius: 12px;
	color: white;
	background-color: var(--lagoona-color);
	border: 1px solid var(--lagoona-color);
	text-align: center;
	display: flex;
	align-items: center;
	/* justify-content: center; */ /*les7*/
}

.contacts_send_btn::before { /* выравнивание... les7*/
  content: '';
  width: calc((100% - 65px)/2);   
  /* background-color: var(--warm-grey-two); */
}

.footer {
	display: flex;
	flex-direction: row;
	color: var(--white-three);
	margin: 0px 0px 0px 0px;
}

.footer_section {
	height: 100%;
	width: 36%;
	display: flex;
	flex-direction: column;
	line-height: 2;
}

.footer_section_btn {
	height: 100%;
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 25px;
}

.footer__pic_btn {
	padding-bottom: 17px;
}

.footer_div {
	padding-top: 32px;
	padding-left: 39px;
}

.footer_flex {
	display: flex;
	flex-direction: row;
	background-color: var(--lagoona-footer);
	background-image: url("../img/Sun.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: 81%;	
	border-radius: 12px;
	padding: 20px;
}

/* les7 не используется 
.footer__item {
	list-style: none;
} */

.footer__tel {

}

.footer__email {

}
