@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lpnucm');
  src:  url('../fonts/icomoon.eot?lpnucm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lpnucm') format('truetype'),
    url('../fonts/icomoon.woff?lpnucm') format('woff'),
    url('../fonts/icomoon.svg?lpnucm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e900";
}
.icon-right:before {
  content: "\e901";
}
.icon-Ident:before {
  content: "\e905";
}
.icon-ring:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-arrow2:before {
  content: "\e908";
}
.icon-arrow1:before {
  content: "\e909";
}
.icon-X:before {
  content: "\e90a";
}
.icon-burger2:before {
  content: "\e90b";
}

.icon-burger:before {
  content: "\e90c";
}
.icon-burger:hover:before {
  content: "\e90b";
}

.icon-fb:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e903";
}
.icon-insta_btn:before {
  content: "\e904";
}
.icon-plusb:before {
  content: "\e90e";
}
.icon-plusr:before {
  content: "\e90d";
}
.icon-plusr_b:before {
  content: "\e90f";
}
