@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?lpnucm');
	src: url('../fonts/icomoon.eot?lpnucm#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?lpnucm') format('truetype'), url('../fonts/icomoon.woff?lpnucm') format('woff'), url('../fonts/icomoon.svg?lpnucm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	/* speak: never; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
	content: "\e900";
}

.icon-right:before {
	content: "\e901";
}

.icon-Ident:before {
	content: "\e905";
}

.icon-ring:before {
	content: "\e906";
}

.icon-search:before {
	content: "\e907";
}

.icon-arrow2:before {
	content: "\e908";
}

.icon-arrow1:before {
	content: "\e909";
}

.icon-X:before {
	content: "\e90a";
}

.icon-burger2:before {
	content: "\e90b";
}

.icon-burger:before {
	content: "\e90c";
}

.icon-burger:hover:before {
	content: "\e90b";
}

.icon-fb:before {
	content: "\e902";
}

.icon-vk:before {
	content: "\e903";
}

.icon-insta_btn:before {
	content: "\e904";
}

.icon-plusb:before {
	content: "\e90e";
}

.icon-plusr:before {
	content: "\e90d";
}

.icon-plusr_b:before {
	content: "\e90f";
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.woff') format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	/* bold */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	/* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	/* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/Montserrat-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Thin.woff') format('woff');
	font-display: swap;
	font-weight: 100;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 400;
}

h2 {
	font-size: 48px;
	font-weight: 400;
}

/*свой чекбокс*/

.check {
	padding-left: 2em;
}

.option {
	display: block;
	/* margin-bottom: 1em; */
	margin-left: 1em;
}

.check__input {
	/* <--скрываем дефолтный чекбокс */
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check__box {
	position: absolute;
	margin-top: 0.2em;
	margin-left: -1.5em;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 0 0 0 0.1em gray;
}

/* Checked */

.check__input:checked+.check__box {
	background-color: transparent;
	background-image: url(../img/Check.svg);
}

/* Focused */

.check__input:focus+.check__box {
	box-shadow: 0 0 0 0.1em gray, 0 0 0 0.2em #7ED321;
}

.check__input:hover+.check__box {
	box-shadow: 0 0 0 0.1em gray, 0 0 0 0.2em #7ED321;
}

/* Disabled */

.check__input:disabled+.check__box {
	box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled+.check__box {
	background-color: #9B9B9B;
}

/* радобатн */

.radio input[type="radio"] {
	display: none;
}

.radio {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 40px;
}

.radio:first-child {
	margin-left: 0px;
}

.radio span {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 0px solid gray;
	background: rgba(250, 250, 250, 0.2);
	display: block;
	position: absolute;
	left: -15px;
	top: 0px;
}

.radio input[type="radio"]:checked~span {
	background: rgba(250, 250, 250);
}

.radio span:hover, :focus {
	border: 2px solid white;
	cursor: pointer;
}

input::placeholder, textarea::placeholder {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

input, textarea {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

textarea {
	resize: none;
}

:root {
	--back: #E5E5E5;
	--font: #333333;
	--font_w: #CACACA;
	--back_form: #414141;
	--Btn: #FF9900;
	--BtnClick: #E1670E;
	--BtnH: #FF9900, 60%;
	--greyl: #ECECEC;
	--greyHover: #666666;
	--greyHover2: #D2D2D2;
	--greyd: #000000, 100%;
}

button:hover {
	cursor: pointer;
}

.btn_border:hover, .btn_border:focus {
	border-color: var(--Btn);
	box-shadow: 0px 0px 1px var(--Btn) inset, 0 0 10px var(--Btn);
	outline: 0 none;
}

.btn_feel:hover, .btn_feel:focus {
	background-color: var(--Btn);
}

.btn_opac:hover, .btn_opac:focus {
	opacity: 68%;
}

.btn_opac:active {
	background-color: var(--BtnClick);
}

.btn_black:hover {
	background-color: var(--greyHover);
	color: white;
}

.btn_black:active {
	background-color: black;
	color: white;
}

.header {
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	/* background-color: darkcyan; */
}

.main {
	background-color: transparent;
}

.footer {
	background-color: #222222;
}

.header__contener {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	display: grid;
	grid-template: minmax(100px, auto) / 1fr auto min-content;
	grid-column-gap: 0px;
	align-items: center;
	grid-auto-flow: row;
	grid-template-areas: "logo1 nav search";
}

.footer__contener {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	color: var(--font_w);
	display: grid;
	grid-template: auto auto auto / 1fr 1fr 1fr;
	grid-template-areas: "logo head clea1" "list form text" "soci form clea2";
	grid-row-gap: 0px;
	grid-column-gap: 23px;
	padding: 48px 75px 80px 75px;
}

.header__logo {
	grid-area: logo1;
}

.header__nav {
	grid-area: nav;
	flex-direction: row;
	margin-left: auto;
}

.header__nav-menu {
	list-style-type: none;
	font-size: 18px;
	display: flex;
	margin-right: 15px;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.ico_size {
	font-size: 25px;
}

.ico_size2 {
	font-size: 50px;
	color: var(--greyl);
}

.ico_size2:hover {
	color: var(--greyd);
}

.header__search {
	grid-area: search;
	display: flex;
}

.header__search-input {
	margin: 5px;
	display: none;
}

.header__search-btn {
	padding-top: 10px;
	border: none;
	background-color: transparent;
}

.header__search-btn:hover {
	color: var(--Btn);
}

.header__search-btn:active {
	color: var(--BtnClick);
}

.header__burger {
	grid-area: burger;
	border: none;
	background-color: transparent;
}

.header__burger:hover {
	color: var(--Btn);
}

.header__burger:active {
	color: var(--BtnClick);
}

@media (min-width: 1200px) {
	/*1024*/
	.header__burger {
		display: none;
	}
}

.header__nav-item {
	text-decoration: none;
	margin-right: 88px;
	color: var(--font);
}

a {
	text-decoration: none;
	color: black;
	outline: none !important;
}

.a2 {
	text-decoration: none;
	position: relative;
	color: black;
}

.a2:after {
	content: ' ';
	height: 2px;
	width: 0%;
	left: 0%;
	background: var(--Btn);
	position: absolute;
	bottom: -3px;
	transition: width 0.1s;
}

.a2:hover:after {
	width: 100%;
}

.a2:active {
	color: var(--BtnClick);
	border: none;
}

.a3 {
	color: black;
	text-decoration: none;
}

.section3__li:hover .a3 {
	color: var(--Btn);
}

.a4 {
	color: black;
	text-decoration: none;
	position: relative;
}

.a4:after {
	content: ' ';
	height: 2px;
	width: 0%;
	left: 0%;
	background: var(--Btn);
	position: absolute;
	bottom: -3px;
	transition: width 0.1s;
}

.a4:hover {
	color: var(--Btn);
}

.a4:hover:after {
	width: 100%;
}

.header__nav-item:last-child {
	margin-right: 55px;
}

.main__calc {
	padding-bottom: 65px;
	/* background-color: #7ED321;	 */
}

.container__calc {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
}

.main__calc-back {
	min-height: 620px;
	display: flex;
	flex-direction: column;
	padding-left: 75px;
	padding-bottom: 33px;
	background-image: url("../img/balcon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main__calc_h1 {
	font-size: 70px;
	font-weight: 800;
	color: white;
	width: 60%;
	padding-top: 103px;
	margin-bottom: 21px;
	letter-spacing: 0.005em;
}

.main__calc_txt {
	font-size: 23.5px;
	font-weight: 700;
	color: white;
	width: 50%;
	margin-bottom: 97px;
}

.main__calc_btn {
	width: 280.52px;
	height: 80px;
	font-size: 23.5px;
	font-weight: 700;
	color: white;
	background-color: var(--Btn);
	border: none;
}

.header__radio {
	display: none;
}

.about__h {
	padding-bottom: 21px;
}

.about {
	grid-area: a_card;
	padding-top: 0px;
	padding-bottom: 44px;
}

.about__text {
	max-width: 70%;
	line-height: 33px;
}

.section1 {
	padding-top: 35px;
	padding-bottom: 56px;
}

.section1__container {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	display: grid;
	grid-template: auto auto 1fr/1fr 1fr;
	grid-column-gap: 30px;
	align-items: center;
	grid-template-areas: "h_card h_card" "a_card a_card" "b_card s_card";
}

.section1__b_card {
	grid-area: b_card;
	background-image: url("../img/Rectangle\ 2.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.section1__b_card_panel {
	min-height: 176px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 700;
	color: white;
}

.section1__b_card_text {
	line-height: 32px;
	padding: 42px 20px 44px 54px;
}

.section1__b_card__btn {
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: 2px solid var(--Btn);
	background-color: rgba(0, 0, 0, 0);
	padding: 18px 38px;
	margin-right: 65px;
}

.section1__s_card {
	grid-area: s_card;
	display: grid;
	grid-template: 1fr 1fr/1fr;
	grid-row-gap: 30px;
	align-items: center;
	list-style-type: none;
}

.section1__s_card1 {
	display: grid;
	grid-template: 1fr/1fr 2.29fr;
	grid-template-areas: "card_pic card_txt";
	grid-column-gap: 59px;
	border: 1px solid var(--font_w);
}

.card {
	grid-area: card_txt;
	padding-top: 65px;
	padding-bottom: 68px;
	max-width: 452px;
	margin-right: auto;
	margin-bottom: auto;
	line-height: 33px;
}

.section1__s_card_pic1 {
	grid-area: card_pic;
	background-image: url("../img/Ring_Cube.svg");
	background-position: center;
	background-repeat: no-repeat;
	min-width: 180px;
	margin-left: auto;
}

.section1__s_card_pic2 {
	grid-area: card_pic;
	background-image: url("../img/Ring_Gear.svg");
	background-position: center;
	background-repeat: no-repeat;
	min-width: 180px;
	margin-left: auto;
}

.card_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4em;
}

.section2 {
	padding-top: 31px;
	padding-bottom: 55px;
	/* background-color: aqua; */
}

.section2__container {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	display: grid;
	grid-template: 1fr 1.5fr minmax(100px, auto) 0.9fr 0.9fr/1fr 1fr;
	align-items: center;
	grid-template-areas: "s2_header s2_empty" "s2_menu   s2_empty" "s2_atc    s2_foto" "s2_btn    s2_foto" "s2_btn    s2_foto";
	grid-column-gap: 60px;
}

.s2_b {
	box-sizing: border-box;
	border: 1px solid var(--font_w);
	min-height: 100%;
}

.section2__header {
	grid-area: s2_header;
	margin-bottom: 10px;
}

.section2__menu {
	grid-area: s2_menu;
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.section2__li {
	margin-left: 11%;
}

.section2__li:first-child {
	margin-left: 0px;
}

.section2__atc {
	grid-area: s2_atc;
	line-height: 32px;
	padding-right: 13%;
}

.section2__atc_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4em;
	padding-bottom: 5px;
}

.section2__foto {
	grid-area: s2_foto;
	background-image: url("../img/Rectangle\ 18.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.section2__btn {
	grid-area: s2_btn;
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.section2__btn1 {
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: 1px solid var(--Btn);
	background-color: var(--Btn);
	padding: 20px 38px;
}

.section2__btn2 {
	font-size: 16px;
	font-weight: 700;
	color: #333333;
	border: 1px solid #333333;
	padding: 20px 38px;
	margin-left: 30px;
	background-color: rgba(0, 0, 0, 0);
}

.section3 {
	padding-top: 45px;
	padding-bottom: 100px;
	/* background-color: blueviolet; */
}

.section3__container {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0px auto;
	letter-spacing: -0.008em;
}

.section3__header {
	border-bottom: 1px solid var(--font_w);
	padding-top: 5px;
	padding-bottom: 39px;
}

.section3__ul {
	list-style: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
}

.section3__li {
	padding: 30px 0px 29px 5px;
	border-bottom: 1px solid var(--font_w);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section3__li-btn {
	min-width: 50px;
	height: 50px;
	border: none;
	border-radius: 100%;
	margin-left: 80px;
	background-color: #ECECEC;
	background-position: center;
	background-image: url("../img/plusb.svg");
}

.section3__li:hover .section3__li-btn {
	background-color: var(--greyHover2);
}

.footer__logo {
	grid-area: logo;
}

.footer__ul {
	grid-area: list;
	padding-top: 10px;
}

.footer__ul ul {
	line-height: 36px;
	list-style: none;
	font-size: 18px;
	font-weight: 600;
}

.footer__li {
	text-decoration: none;
	color: white;
}

.footer__soc {
	grid-area: soci;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.footer__soc-ico {
	font-size: 60px;
	color: gray;
	text-decoration: none;
}

.footer__soc li {
	margin-left: 25px;
}

.footer__soc li:first-child {
	margin-left: 0px;
}

.footer__h2 {
	grid-area: head;
	padding-top: 10px;
}

.footer__form {
	grid-area: form;
	display: flex;
	flex-direction: column;
}

.footer__form-name {
	height: 60px;
	padding: 14px 25px;
	margin-top: 17px;
	background: var(--back_form);
	border: none;
}

.footer__form-email {
	height: 60px;
	margin-top: 25px;
	padding: 14px 25px;
	background: var(--back_form);
	border: none;
}

.footer__form-mess {
	height: 150px;
	margin-top: 25px;
	padding: 14px 25px;
	background: var(--back_form);
	border: none;
}

.footer__btn-panel {
	grid-area: butn;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 31px;
}

.footer__btn {
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: 1px solid var(--Btn);
	background-color: var(--Btn);
	padding: 20px 55px;
}

.footer_check {
	font-size: 16px;
	font-weight: 400;
	color: green;
}

.footer__text {
	grid-area: text;
	line-height: 32px;
	padding-top: 5px;
	padding-left: 38%;
}

.clea1 {
	grid-area: clea1;
}

.clea2 {
	grid-area: clea2;
}

@media (max-width: 1366px) {
	.header__logo {
		grid-area: logo1;
		display: flex;
		justify-content: center;
	}
	
	.main__calc {
		padding-bottom: 45px;
	}

	.section1 {
		padding-top: 17px;
		padding-bottom: 60px;
	}
	
	.section1__container {
		display: grid;
		grid-template: auto auto 0.94fr 1fr/ 1fr;
		grid-column-gap: 0px;
		grid-template-areas: "h_card" "a_card" "b_card" "s_card";
	}

	.section1__s_card {
		row-gap: 40px;
		padding-top: 50px;
	}
	.section1__s_card1 {
		grid-template: 1fr/1fr 2fr;
		grid-template-areas: "card_pic card_txt";
	}
	.section1__b_card__btn {
		padding: 18px 38px;
		margin-right: 55px;
	}
	.section1__b_card_text {
		line-height: 32px;
		padding: 44px 9% 40px 47px;
	}
	.section2__li {
		margin-left: 19%;
	}
	.footer__contener {
		color: var(--font_w);
		background-color: #222222;
		display: grid;
		grid-template: auto auto auto/ 1.2fr 1.8fr;
		grid-template-areas: "logo head" "list form" "soci form";
		grid-row-gap: 0px;
		grid-column-gap: 30px;
		padding: 46px 55px 80px 55px;
	}
	.footer__soc {
		align-items: flex-end;
	}
	.footer__text {
		display: none;
	}
	.clea1 {
		display: none;
	}
	.clea2 {
		display: none;
	}
	.footer__btn {
		font-size: 16px;
		font-weight: 700;
		color: white;
		border: 1px solid var(--Btn);
		background-color: var(--Btn);
		padding: 20px 43px;
	}
	.check {
		letter-spacing: -0.0056em;
	}
}

@media (max-width: 1200px) {
	/*1024*/
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
	.container__calc {
		padding-left: 50px;
		padding-right: 50px;
	}
	.header__contener {
		justify-content: stretch;
		display: grid;
		grid-template: min-content / min-content auto min-content;
		grid-column-gap: 0px;
		grid-auto-flow: row;
		grid-template-areas: "burger logo1 search";
		align-content: center;
		justify-items: center;
		height: 96px;
	}
	.header__logo {
		grid-area: logo1;
	}
	.header__logo-img {
		width: 67%;
	}
	.header__nav {
		display: none;
	}
	.header__space {
		display: none;
	}
	.header__burger {
		display: block;
	}
	.main__calc_h1 {
		font-size: 60px;
		width: 90%;
		padding-top: 160px;
		margin-bottom: 12px;
	}
	.main__calc_txt {
		font-size: 20px;
		font-weight: 700;
		color: white;
		width: 75%;
		margin-bottom: 110px;
	}
	.main__calc_btn {
		width: 280.52px;
		height: 80px;
		font-size: 23.5px;
		font-weight: 700;
		color: white;
		background-color: var(--Btn);
		border: none;
	}
	.header__radio {
		align-self: center;
		margin-top: auto;
		display: flex;
	}
	.main__calc {
		padding-bottom: 50px;
	}
	.main__calc-back {
		min-height: 668px;
		padding-left: 45px;
		padding-bottom: 43px;
	}

	.about__h {
		padding-bottom: 24px;
	}

	.about {
		padding-bottom: 61px;
	}
	.about__text {
		max-width: 100%;
		line-height: 32px;
	}

	.main__calc {
		padding-bottom: 45px;
	}

	.section1 {
		padding-top: 17px;
		padding-bottom: 35px;
	}	
	
	.section1__container {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.section2 {
		padding-top: 24px;
		padding-bottom: 30px;
	}	
	.section2__container {
		padding-left: 50px;
		padding-right: 50px;
		display: grid;
		grid-template: 1fr 1.57fr minmax(100px, auto) 1.3fr/1fr 0.9fr;
		align-items: center;
		grid-template-areas: "s2_header s2_empty" "s2_menu   s2_empty" "s2_atc    s2_foto" "s2_btn    s2_foto";
		grid-column-gap: 0px;		
	}
	
	.card {
		padding-top: 63px;
		padding-bottom: 66px;
	}

	.section3__container {
		padding-left: 50px;
		padding-right: 50px;
	}		

	.section1__s_card {
		padding-top: 50px;
	}

	.section3 {
		padding-top: 16px;
		padding-bottom: 48px;
	}

	.section3__li-btn {
		margin-left: 105px;
	}
	.section3__ul {
		list-style: none;
		font-weight: 700;
		font-size: 20px;
	}
	.section3__li {
		padding: 30px 0px 31px 2px;
	}
}

@media (max-width: 992px) {
	/*768*/
	.header__contener {
		height: 70px;
	}

	.main__calc {
		padding-bottom: 40px;
	}

	.container__calc {
		padding-left: 0px;
		padding-right: 0px;
	}

	.main__calc-back {
		min-height: 700px;
		padding-left: 45px;
		padding-bottom: 30px;
	}
	.main__calc_h1 {
		font-size: 60px;
		padding-top: 190px;
		margin-bottom: 12px;
		width: 100%;
	}
	.main__calc_txt {
		font-size: 20px;
		font-weight: 700;
		color: white;
		width: 90%;
		margin-bottom: 110px;
	}
	.main__calc_btn {
		width: 280.52px;
		height: 80px;
		font-size: 23.5px;
		font-weight: 700;
		color: white;
		background-color: var(--Btn);
		border: none;
	}
	.header__radio {
		margin-bottom: 15px;
	}

	.section1 {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	
	.section1__container {
		display: grid;
		grid-template: auto auto 650px auto/1fr;
		grid-column-gap: 0px;
		grid-template-areas: "h_card" "a_card" "b_card" "s_card";
	}

	.section1__s_card {
		row-gap: 40px;
		padding-top: 37px;
	}
	.section1__s_card1 {
		grid-template: 1fr/1fr 3.20fr;
		grid-template-areas: "card_pic card_txt";
		grid-column-gap: 29px;
	}
	.card {
		grid-area: card_txt;
		padding-top: 35px;
		padding-bottom: 34px;
	}
	.section1__b_card_text {
		line-height: 32px;
		padding: 24px 25px 28px 34px;
	}
	.section1__b_card__btn {
		padding: 18px 38px;
		margin-right: 35px;
	}
	.section1__s_card_pic1 {
		background-size: 120px;
		min-width: 120px;
	}
	.section1__s_card_pic2 {
		background-size: 120px;
		min-width: 120px;
	}

	.section2 {
	    padding-top: 17px;
		padding-bottom: 40px;
	}	
	.section2__container {
		display: grid;
		grid-template: 1fr 1.5fr 4.25fr auto 1.318fr/1fr;
		align-items: center;
		grid-template-areas: "s2_header" "s2_menu  " "s2_foto   " "s2_atc  " "s2_btn   ";
		grid-column-gap: 60px;
	}

	.section2__header {
		grid-area: s2_header;
		letter-spacing: -0.0056em;
	}
	.section2__menu {
		grid-area: s2_menu;
		list-style: none;
		display: flex;
		align-items: stretch;
		flex-direction: row;
	}
	.section2__li {
		margin-left: auto;
	}
	.section2__li:first-child {
		margin-left: 0px;
	}
	.section2__atc {
		grid-area: s2_atc;
		line-height: 32px;
		padding-top: 36px;
		padding-right: 0px;
	}
	.section2__foto {
		grid-area: s2_foto;
		background-image: url("../img/Rectangle\ 18.jpg");
		background-repeat: no-repeat;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	.section2__btn {
		grid-area: s2_btn;
		display: flex;
		align-items: flex-end;
		height: 100%;
	}
	.section3 {
		padding-top: 13px;
		padding-bottom: 54px;
	}
	.section3__header {
		padding-bottom: 40px;
		letter-spacing: -0.03em;
	}
	.section3__li {
		padding: 30px 0px 32px 2px;
	}
	.section3__li-btn {
		margin-left: 40px;
	}
	.section3__ul {
		list-style: none;
		font-weight: 700;
		font-size: 20px;
	}
	.footer__contener {
		color: var(--font_w);
		background-color: #222222;
		display: grid;
		grid-template: auto auto auto auto/ 1fr;
		grid-template-areas: "head" "form" "logo" "soci";
		grid-row-gap: 0px;
		grid-column-gap: 30px;
		padding: 49px 23% 80px 50px;
	}
	.footer__ul {
		display: none;
	}
	.footer__text {
		display: none;
	}
	.footer__form-name {
		margin-top: 22px;
	}
	.clea1 {
		display: none;
	}
	.clea2 {
		display: none;
	}
	.footer__logo {
		margin-top: 60px;
		align-self: center;
	}
	.footer__btn {
		font-size: 16px;
		font-weight: 700;
		color: white;
		border: 1px solid var(--Btn);
		background-color: var(--Btn);
		padding: 20px 43px;
	}
}