@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* index.html */

:root {
  --skillbox-color: #2f1ce4;
}

.container__return {
  padding-left: 22px;
  background-image: url(../img/return.png);
  background-position: left;
  background-size: 18px;
  background-repeat: no-repeat;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content__header {
  color: white;
  font-family: 'Graphik LCG' ,sans-serif;
  margin-bottom: 30px;
}

.buttons {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.main-content__ref {
	color: white;
	background-color: var(--skillbox-color);
	padding: 20px;
	border: 3px solid var(--skillbox-color);
  margin-right: 15px;
}

.main-content__prog {
	color: white;
	background-color: transparent;
  padding: 20px;
  padding-left: 82px;
  padding-right: 82px;
	border: 3px solid white;
  text-align: center;
}

/* program.html */

.container {
  width: 1170px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__link {
  color: var(--skillbox-color);
  text-decoration: underline;
}

.container__header1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.container__header2 {
  padding-left: 180px;
  margin-top: 100px;
  margin-bottom: 25px;
  font-size: 36px;
  color: var(--skillbox-color);
}

.container__list {
  padding-left: 200px;
  font-size: 18px;
}

.container__list--item1 {
  padding-top: 20px;
}

.container__list--item {
  padding-top: 20px;
  list-style:  none;
}

.container__list--item::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--skillbox-color);
  font-size: 18px;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block;  /*Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  /* padding-right: 5px; */
}

.container__paragraf {
  padding-left: 180px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.8;
}

.container__figure {
  padding-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
}

.container__figure--img {
  max-width: 650px;
}

.container__figure--figcaption {
  text-align: center;
}

.container__table {
  padding-top: 50px;
  margin-top: 100px;
  border: 1px solid #a0a0a0;
  border-collapse: collapse;
}

.container__table--data {
  border: 1px solid #a0a0a0;
  padding: 6px;
  font-size: 18px;
}

.container__table--code {
  font-family: 'Gilroy', sans-serif;
  padding-left: 8px;
}

.container__table--head {
  border: 1px solid #a0a0a0;
  padding: 8px;
}

.container__table--foot {
  border: 1px solid #a0a0a0;
  padding: 8px;
  color: var(--skillbox-color);
}

.container__table--caption {
  padding-bottom: 20px;
}

/* для просмотра секций убрать комментарий */

/*
.container__section1{
  border: #2f1ce4 solid 3px;
  background-color: #b6b6b6d7;
}

.container__section2{
	border: #a3247d solid 3px;
	background-color: #a0aca483;
}

.container__section3{
	border: #3bbe1a solid 3px;
	background-color: #7c7f9e56;
}
*/

/* modules */

.body__back{
  background-image: url(../img/BotPic.png); /* Путь к фоновому рисунку */
  background-position: bottom; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  background-size: 100%;
  padding-bottom: 450px;
}

.modules {
  width: 95%;
  max-width: 1200px;
  min-width: 570px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainlist {
  width: 100%; /* для примера */
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

.modules__skillbox {
  font-size: 40px;
  font-family: "Graphik LCG";
  color: rgb(34, 32, 32);
  line-height: 1.4;
  text-align: left;
  margin-bottom: 50px;
}

.modules__h1 {
  font-size: 48px;
  font-family: "Gilroy";
  color: rgb(34, 32, 32);
  font-weight: bold;
  line-height: 1.167;
  text-align: left;
  margin-top: 74px;
  margin-left: 25px;
  margin-bottom: 84px;
}

.child {
  display: inline-block;
  width: 40%;
  min-height: 505px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px 0px rgba(83, 83, 83, 0.31);
  height: 505px;
  position: relative;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.child img {
  width: 100%;
}

.right {
  /* margin-left: 5%; */
}

.btn-center {
  text-align: center;
  color: var(--skillbox-color);
  padding-top: 80px;
  padding-bottom: 30px;
}

.modules__bot_butt{
  font-size: 18px;
  font-family: "Gilroy";
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 77px;
  padding-right: 77px;
  border: solid 2px var(--skillbox-color);
}


.modules__header2 {
  padding-left: 0px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 55px;
  font-size: 36px;
  color: var(--skillbox-color);
}

.modules__list {
  margin-left: 55px;
  font-size: 16px;
}

.modules__list--item {
  list-style:  none;
  line-height: 2.2;
}

.modules__num {
  font-size: 48px;
  font-family: "Gilroy";
  color: rgb(234, 234, 234);
  line-height: 1;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
